<div class="rouge">
  {{ getTitle() }}
</div>
<!-- <app-directives-example></app-directives-example> -->
<!-- <app-zippy [isDisplayed]="true"></app-zippy>-->
<!-- <app-pipe-example></app-pipe-example> -->
<!-- <app-reusable-example (sendDate)="alertDate($event)" [title]="'nouveau header'" >
  <ng-container class="body">
    Ceci est un body
  </ng-container>
  <ng-container footer>
    <div>
      Ceci est de l'html
    </div>
  </ng-container>
</app-reusable-example> -->

<!-- <app-post-card title="Mon super article">
  <p>
    Mon super paragraphe. Bien détaillé
  </p>
</app-post-card> -->

<!-- <app-template-form></app-template-form> -->
<!-- <app-template-excercie></app-template-excercie> -->
<!-- <app-reaktiv-form></app-reaktiv-form> -->
<!-- <app-reactiv-login-exercice></app-reactiv-login-exercice> -->
<!-- <app-sign-in-form></app-sign-in-form> -->
<!-- <app-movies-with-service></app-movies-with-service> -->
<app-service-exercice></app-service-exercice>
